
body{
  width: 50%;
  margin: 0 auto ;
}

header{
  text-align: center;
}

header h1{
  font-size: 85px;
  font-weight: 600;
  color: green;
}

input{
  margin-bottom: 20px;
  font-size: 20px;
  color:black;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 5px;
}
.task{
  background-color: green;
  padding:  10px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;

}

.task span{
  color: white;
}

.icon{
  float: right;
  margin-right: 15px;
}

article{
  display: grid;
}
.edit-todo{
  width: 85%;
  font-size: 16px;
  color: aliceblue;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #ffff;
}

.button{
  margin :0 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  color : #6c6777;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  width: 50px;
  border-radius: 5px;
}

.button.selected {
  color: #ffff;
  background-color: #6c6777;
}

.button.clear{
  float: right;
  color: #fff;
  background-color: red;
  width: 140px;
  margin-top: -7px;
}